<div class="d-flex flex-column">
    <div class="sub-heading text-dark font-weight-bold mb-3 d-flex align-items-center justify-content-between p-3">
        <div class="d-flex align-items-center">
            <span class="text font-20 fw-600">App Variables</span>
        </div>
        <button type="button" class="btn btn-primary d-flex align-items-center" (click)="newVariable()">
            <span class="dsi dsi-plus mr-2"></span>
            <span class="text">New Variable</span>
        </button>
    </div>
    <div class="variables-list border-top border-bottom">
        <div class="list-group list-group-flush">
            <div class="list-group-item header d-flex align-items-center">
                <div class="d-flex align-items-center item-name d-flex align-items-center">
                    <span class="">Name</span>
                </div>
                <div class="d-flex align-items-center item-name d-flex align-items-center">
                    <span class="">Value</span>
                </div>
                <div class="d-flex align-items-center item-actions d-flex align-items-center"></div>
            </div>
            <div *ngFor="let item of varList;let index=index" class="list-group-item d-flex align-items-center">
                <div class="d-flex align-items-center item-name d-flex align-items-center">
                    <span class="">{{item.key}}</span>
                </div>
                <div class="d-flex align-items-center item-name d-flex align-items-center">
                    <span class="">{{item.value}}</span>
                </div>
                <div class="d-flex align-items-center item-actions d-flex align-items-center">
                    <span class="dsi dsi-edit font-18 text-warning hover mr-3" (click)="editVariable(index)"></span>
                    <span class="dsi dsi-trash font-18 text-danger hover" (click)="deleteVariable(index)"></span>
                </div>
            </div>
            <div *ngIf="!varList || varList.length==0"
                class="list-group-item d-flex align-items-center font-14 fw-500 text-muted">No Variables Found</div>
        </div>
    </div>
</div>

<odp-delete-modal [open]="openDeleteModal" (close)="closeDeleteModal($event)"></odp-delete-modal>

<div *ngIf="showNewVarWindow" class="overlay position-fixed"></div>
<div [ngClass]="{'show':showNewVarWindow}"
    class="new-var-window p-4 position-fixed border-left bg-white d-flex flex-column">
    <div class="d-flex align-items-center justify-content-between">
        <span class="font-22 fw-600">{{selectedIndex > -1 ? 'Edit':'New'}} Variable</span>
        <span class="dsi dsi-close hover" (click)="showNewVarWindow=false"></span>
    </div>
    <ng-container *ngIf="showNewVarWindow">
        <div class="mt-5">
            <div class="form-group">
                <label for="key" class="font-12 text-secondary">Name</label>
                <input type="text" class="form-control" [(ngModel)]="formData.key" (blur)="onKeyBlur()" odpAutoFocus>
            </div>
            <div class="form-group">
                <label for="name" class="font-12 text-secondary">Value</label>
                <input type="text" class="form-control" [(ngModel)]="formData.value">
            </div>
        </div>
        <button type="button" class="btn btn-primary mt-auto" (click)="saveVariable()" [disabled]="isInvalid">Save</button>
    </ng-container>
</div>
