<div class="d-flex flex-column">
    <div class="sub-heading text-dark font-weight-bold mb-3 d-flex align-items-center justify-content-between p-3">
        <div class="d-flex align-items-center">
            <span class="text font-20 fw-600">Custom Configuration</span>
        </div>
        <button type="button" class="btn btn-primary btn-min-width" (click)="saveApp()">Save</button>
    </div>
    <div class="d-flex border-top border-bottom">
        <div class="variables-list p-3 w-50 border-right">
            <div class="form-group">
                <label for="libraries">NPM Libraries</label>
                <div class="form-text mb-2 text-secondary font-12">Add all the npm libraries here</div>
                <textarea class="form-control" name="libraries" id="libraries" cols="30" rows="10"
                    [(ngModel)]="appData.npmLibraries"></textarea>
            </div>
        </div>
        <div class="base-images p-3 w-50">
            <div class="form-group">
                <label for="libraries">B2B Base Image</label>
                <input class="form-control" name="libraries" id="libraries" [(ngModel)]="appData.b2bBaseImage">
            </div>
            <div class="form-group">
                <label for="libraries">Function Base Image</label>
                <input class="form-control" name="libraries" id="libraries" [(ngModel)]="appData.faasBaseImage">
            </div>
        </div>
    </div>
</div>