@import "src/assets/scss/bootstrap/_functions.scss";
@import "src/assets/scss/bootstrap/_variables.scss";

.overlay {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba($color: #000000, $alpha: 0.6);
}

.new-var-window {
  height: 100vh;
  width: 360px;
  top: 0;
  right: -360px;
  z-index: 2;
  transition: 0.2s;
  overflow: auto;
  padding-top: 40px !important;

  &.show {
    right: 0px !important;
  }
}

.list-group-item {
  height: 56px;
  overflow: hidden;

  &:not(.header):hover {
    background: $light;
    cursor: pointer;
  }

  &.header {
    min-height: 38px;
    max-height: 38px;
    color: #6C7584;
  }

  .item-name {
    min-width: 260px;
    max-width: 260px;
  }

  &:hover {
    .item-actions {
      right: 0px;
    }
  }

  .item-actions {
    min-width: 100px;
    position: absolute;
    right: -500px;
    transition: 0.2s;

    .actions {
      .dsi {
        min-width: 24px;
        max-width: 24px;
        display: inline-block;

        &:not(:hover) {
          color: $sub-headings;
        }
      }

      .dsi,
      .api-icon {
        &:hover {
          color: $dark;
        }
      }
    }
  }
}