<div class="bg-light w-100 h-100 vh-100">
  <div class="default-loader d-flex justify-content-center w-100 h-100" *ngIf="showLazyLoader">
    <div class="align-self-center text-center">
      <div class="spinner-border text-dark" role="status">
        <span class="sr-only">Processing...</span>
      </div>
      <div class="text-secondary mt-2">Processing...</div>
    </div>
  </div>
  <div class="d-flex flex-column position-relative">
    <div class="d-flex align-items-center options">
      <div class="text-dark fw-500 font-20">
        {{appData._id}}
        <!-- <odp-basic-info holderStyle="square" [(name)]="appData._id" [(description)]="appData.description"
          [edit]="{ status: true }">
        </odp-basic-info> -->
      </div>
      <button *ngIf="activeTab == 1"
        class="btn btn-primary ml-auto d-flex align-items-center justify-content-center btn-min-width" (click)="save()"
        [disabled]="!changesDone || isInvalid">
        <span class="text-center">Save</span>
      </button>
    </div>
  </div>


  <div class="d-flex flex-column rounded rounded-lg border bg-white content">
    <div class="tabs d-flex w-100 border-bottom">
      <div class="tab d-flex align-items-center px-3 hover" [ngClass]="{ active: activeTab == 1 }"
        (click)="activeTab = 1">
        <span class="text">Theme</span>
      </div>
      <div class="tab d-flex align-items-center px-3 hover" [ngClass]="{ active: activeTab == 2 }"
        (click)="activeTab = 2">
        <span class="text">App Variables</span>
      </div>
      <div class="tab d-flex align-items-center px-3 hover" [ngClass]="{ active: activeTab == 3 }"
        (click)="activeTab = 3">
        <span class="text">Base Images</span>
      </div>
      <div class="tab d-flex align-items-center px-3 hover" [ngClass]="{ active: activeTab == 4 }"
        (click)="activeTab = 4">
        <span class="text">Interaction Settings</span>
      </div>
    </div>
    <div class="tab-content w-100">
      <ng-container *ngIf="activeTab == 1">
        <div class="d-flex">
          <div class="upload-section p-4">
            <span class="fw-500 font-14 mb-2">Logo</span>
            <div class="d-flex align-items-start mb-4">
              <div class="d-flex flex-column">
                <span class="d-flex mb-3">
                  <span class="text-secondary">Upload your logo, to add your brand identity to
                    app center
                    (Recommended size: 216px x 72 px)</span>
                  <span class="ml-auto text-danger hover" (click)="appData.logo.full = undefined"
                    *ngIf="appData.logo.full">Remove</span>
                </span>
                <label class="drop-box-logo drop-box d-flex align-items-center justify-content-center rounded">
                  <input type="file" name="logoFile" id="logoFile" class="d-none"
                    (odpUploadImage)="imageUpload($event, 'logo')" imageWidth="216" />
                  <img *ngIf="appData.logo.full" [src]="appData.logo.full" class="drop-box-logo-holder" />
                  <i *ngIf="!appData.logo.full" class="dsi dsi-upload mr-1" style="color:#44A8F1"></i>
                  <span *ngIf="!appData.logo.full" style="color:#44A8F1">Upload</span>
                </label>
              </div>
            </div>
            <span class="fw-500 font-14 mb-2">Accent Color</span>
            <div class="d-flex align-items-start mb-4">
              <div class="d-flex flex-column">
                <span class="text-secondary mb-4">
                  Pick accent colour for the app center that complements your brand look.
                </span>
                <div class="mb-4">
                  <odp-color-picker #colorpicker [(color)]="appData.appCenterStyle.primaryColor">
                  </odp-color-picker>
                </div>
              </div>
            </div>
            <div class="d-flex align-items-start">
              <button type="button" class="btn btn-sm btn-outline-dark w-100" (click)="reset()">Reset</button>
            </div>
          </div>
          <div class="preview-section">
            <odp-app-center-preview [logo]="appData.logo.full" [color]="appData.appCenterStyle.primaryColor"
              (textColor)="(appData.appCenterStyle.textColor)" [theme]="appData.appCenterStyle.theme"
              [bannerColor]="appData.appCenterStyle.bannerColor"></odp-app-center-preview>
          </div>
        </div>

      </ng-container>
      <ng-container *ngIf="activeTab == 2">
        <odp-app-secrets></odp-app-secrets>
      </ng-container>
      <ng-container *ngIf="activeTab == 3">
        <odp-npm-libraries></odp-npm-libraries>
      </ng-container>
      <ng-container *ngIf="activeTab == 4">
        <odp-interaction-settings></odp-interaction-settings>
      </ng-container>
    </div>
  </div>
</div>
<div class="popup-overlay" *ngIf="addUserModal" (click)="addUserModal = false"></div>
<div class="popup-content p-3" *ngIf="addUserModal">
  <div class="d-flex justify-content-between mb-5">
    <strong>Search Users to Add to
      <span class="text-accent">{{ appData._id + ' ' }}</span>App</strong>
    <button class="btn btn-min-width btn-dark" (click)="addSelectedUsers()">
      Add Users
    </button>
  </div>
  <ng-container class="position-absolute">
    <div class="d-flex mb-4 position-relative justify-content-center">
      <odp-search-box (enteredText)="filterUserText = $event" (reset)="filterUserText = null"
        [edit]="{status:true}"></odp-search-box>
    </div>
  </ng-container>
  <div class="d-flex flex-column w-100">
    <div class="modal-user-list">
      <table class="table table-hover table-hover" id="_userTable">
        <thead class="thead-accent">
          <tr>
            <th scope="col" width="50px;">
              <div class="d-flex justify-content-center">
                <label class="checkbox-container pl-2">
                  <input type="checkbox" id="selectAllUsers" [(ngModel)]="allUsers" (change)="selectAllUsrs()" />
                  <span class="checkmark"></span>
                </label>
              </div>
            </th>
            <th scope="col" width="290px">Name</th>
            <th scope="col">User ID</th>
            <th scope="col">Email ID</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="
              let usr of appUsers | filterUser: filterUserText;
              let usrIndex = index
            " [ngClass]="{ selectedRow: usr.checked }" (click)="toggleUserSelection(usr)">
            <td class="hover img-td position-relative" id="_userIndex">
              <figure class="d-flex align-items-center justify-content-center position-absolute v-middle">
                <div class="user-img-container" [ngClass]="{ 'usr-selected': usr.checked }">
                  <img *ngIf="usr.logo && usr.logo.thumbnail" [src]="usr.logo.thumbnail" alt="Logo" />
                  <span *ngIf="!usr.logo || !usr.logo.thumbnail" class="far fa-user fa-sm text-secondary"></span>
                </div>
                <figcaption class="position-absolute checkmark-pos" *ngIf="usr.checked">
                  <span class="fas fa-check fa-lg text-accent"></span>
                </figcaption>
              </figure>
            </td>
            <td class="hover td-content-height col-name text-truncate">
              <ng-container *ngIf="usr.basicDetails; else noName">
                <ng-container *ngIf="
                    usr.basicDetails.name && usr.basicDetails.name.trim();
                    else noName
                  ">
                  <span *ngIf="usr.basicDetails.name.length > 50" [ngbTooltip]="usr.basicDetails.name"
                    placement="top">{{ usr.basicDetails.name }}</span>
                  <span *ngIf="usr.basicDetails.name.length <= 50">{{
                    usr.basicDetails.name
                    }}</span>
                </ng-container>
              </ng-container>
              <ng-template #noName>
                <span class="text-muted">N.A.</span>
              </ng-template>
            </td>
            <td class="text-secondary hover td-content-height">
              {{ usr?.username }}
            </td>
            <td class="text-secondary d-flex hover td-content-height">
              {{ usr?.basicDetails?.email }}
            </td>
          </tr>
          <tr *ngIf="
              !showLazyLoader &&
              (appUsers | filterUser: filterUserText).length == 0
            ">
            <td colspan="8" class="text-center td-content-height">
              No users found
            </td>
          </tr>
          <tr *ngIf="showLazyLoader">
            <td colspan="8" class="text-center">
              <span class="fa fa-spinner fa-pulse fa-lg"></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<odp-delete-modal [open]="openDeleteModal" (close)="closeDeleteModal($event)"></odp-delete-modal>

<ng-template #keyValModalTemplate>
  <div class="delete-modal-body modal-body p-4 d-flex flex-column align-items-center">
    <div class="d-flex align-items-center justify-content-between mb-3 w-100">
      <span class="font-20 fw-600 mb-1" *ngIf="data && data.isEdit">Edit Key-Value</span>
      <span class="font-20 fw-600 mb-1" *ngIf="!data || !data.isEdit">Add Key-Value</span>
      <span class="fa fa-times text-muted hover" (click)="keyValModalTemplateRef.close(false)"></span>
    </div>
    <div class="info d-flex flex-column align-self-center justify-content-center w-100">
      <div class="form-group">
        <label for="key">Key</label>
        <div class="w-100 position-relative headers-key-wrapper">
          <input #headerKey="ngModel" id="key" type="text" class="form-control" [(ngModel)]="data.key" maxlength="24"
            pattern="[a-zA-Z0-9_-]+" required [disabled]="data.isEdit" odpAutoFocus (keyup.enter)="headerValue.focus()"
            [ngClass]="{
              'is-invalid':
                headerKey.invalid && (headerKey.dirty || headerKey.touched)
            }" />
          <ng-container *ngIf="headerKey.invalid && (headerKey.dirty || headerKey.touched)">
            <span *ngIf="headerKey?.errors?.required" class="text-danger position-absolute fa fa-exclamation-circle"
              container="body" ngbTooltip="Key is required"></span>
            <span *ngIf="headerKey?.errors?.pattern" class="text-danger position-absolute fa fa-exclamation-circle"
              container="body"
              ngbTooltip="Key can be only alphanumeric and can only contain underscore(_) and dash(-)"></span>
          </ng-container>
        </div>
      </div>
      <div class="form-group">
        <label for="value">Value</label>
        <input #headerValue id="value" type="text" class="form-control" [(ngModel)]="data.value"
          (keyup.enter)="headerSave.click()" />
      </div>
      <div class="d-flex flex-column align-items-end w-100 mt-auto">
        <button #headerSave type="button" class="btn btn-dark btn-min-width" id="keyValueModalYes"
          (click)="keyValModalTemplateRef.close(true)" [disabled]="headerKey.invalid">
          Save
        </button>
      </div>
    </div>
  </div>
</ng-template>