@import "src/assets/scss/bootstrap/_functions.scss";
@import "src/assets/scss/bootstrap/_variables.scss";

.dynamic-variable-button {
    top: 39px;
    left: 9px;
}

.node-filter-wrapper {
    min-width: 500px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
    top: 0;
    right: 0;
    z-index: 1;
}

.second-div {
    position: fixed;
    top: 130px;
    z-index: 2; 
    width: 200px;
    min-height: 60vh;
    background-color: white;
  }
.node-type {
    width: 120px;
}

.node-id {
    width: 100px;
}

.undo-btn {
    // width: 180px;
}

.word-wrap {
    word-break: break-all;
}

.form-control{
    width: 150px;
}

.filter-wrapper{
    max-height: 200px;
    overflow-y: auto;
}

.active {
&:disabled{
    background-color: $primary;
    color: white;
}
}

.sources:hover {
        text-decoration: underline;
}

.form-control{
    width: 200px;
}


.styled-wrapper {
    max-width: 420px;
    width: 420px;
}