<div class="d-flex align-items-center justify-content-start">

    <ng-container *ngIf="value">
       <div class="d-flex flex-column filter-wrapper">
        <span class="word-wrap fw-500 rounded bg-light p-2 border font-12 d-flex align-items-center" *ngFor="let item of showFilterString()"
        [innerHTML]="show(item) || '{}'" ></span>
   
       </div>
    </ng-container>
</div>

<div *ngIf="toggle" class="node-filter-wrapper p-3 bg-white position-fixed border-left ">
    <div class="d-flex justify-content-between mb-5">
        <h3 class="font-20 fw-600">Advanced Filter</h3>
        <span class="dsi dsi-close hover" (click)="cancel()"></span>
    </div>

    <div class="" *ngIf="filterArray.length > 0">
        <div class="form-group d-flex" *ngFor="let obj of filterArray; let i= index">
            <select class="form-control mr-2" [(ngModel)]="filterArray[i]['path']" (ngModelChange)="assignDefaultFilter(i)">
                <option *ngFor="let item of definition" [value]="item.properties.dataPath || item.path">{{item?.properties?.name || item.name}}
                </option>
            </select>
            <select class="form-control mr-2" [(ngModel)]="filterArray[i]['operator']" (ngModelChange)="assignValue(i)">
                <option *ngFor="let item of getFilterOptions(i)" [value]="item.value">{{item?.name}}</option>
            </select>
            <input class="form-control mr-2" [(ngModel)]="filterArray[i]['value']['val']"
                *ngIf="getType(i) != 'Date' && getType(i) !='Boolean'">
            <input class="form-control mr-2" [(ngModel)]="filterArray[i]['operator']"
                *ngIf="getType(i) === 'Boolean'" readonly>
            <input class="form-control mr-2" [(ngModel)]="filterArray[i]['value']['from'] "
                *ngIf="getType(i)?.startsWith('Date')" (click)="toggleDatePicker(i, 'from')">
            <input class="form-control mr-2" [(ngModel)]="filterArray[i]['value']['to']"
                *ngIf="getType(i)?.startsWith('Date') && filterArray[i]['operator'] === 'inRange'"
                (click)="toggleDatePicker(i, 'to')">
            <odp-date-picker [(togglePicker)]="showFromDatePicker[i]"
                [options]="{floating:true,buttons:true, right: '100px', type:getDateType(i)}" [(from)]="dateFrom"
                *ngIf="showFromDatePicker[i]" (assignDate)="assignDate($event,i, 'from')"></odp-date-picker>
            <odp-date-picker [(togglePicker)]="showToDatePicker[i]"
                [options]="{floating:true,buttons:true, right: '100px', type:getDateType(i)}" [(to)]="dateTo"
                *ngIf="showToDatePicker[i]" (assignDate)="assignDate($event,i,'to')"></odp-date-picker>
            <span class="dsi dsi-minus-circle hover text-danger d-flex justify-content-center align-items-center"
                (click)="removeCondition(i)"></span>
        </div>
    </div>
    <div class="d-flex text-primary hover" (click)="addCondition()">
        <span class="dsi dsi-plus-circle mr-2 d-flex justify-content-center align-items-center"></span>
        <span>Add Condition</span>
    </div>

    <button type="button" class="btn btn-primary mt-4 w-100" (click)="done()">Done</button>

</div>