<div *ngIf="!currNode.options.move" class="form-group position-relative">
    <label for="folderPath" class="font-14 fw-400 text-dark d-flex align-items-center justify-content-between">
        Folder Path
    </label>
    <odp-autocomplete-on-edit #typeAhead [(ngModel)]="currNode.options.folderPath" [currNode]="currNode"
        class="styled-wrapper" [edit]="edit"></odp-autocomplete-on-edit>
</div>
<div *ngIf="!currNode.options.list && !currNode.options.move" class="form-group position-relative">
    <label for="fileName" class="font-14 fw-400 text-dark d-flex align-items-center justify-content-between">
        File Name
    </label>
    <odp-autocomplete-on-edit #typeAhead [(ngModel)]="currNode.options.fileName" [currNode]="currNode"
        class="styled-wrapper" [edit]="edit"></odp-autocomplete-on-edit>
</div>
<div *ngIf="currNode.options.list" class="form-group position-relative">
    <label for="filePattern" class="font-14 fw-400 text-dark d-flex align-items-center justify-content-between">
        File Pattern
    </label>
    <odp-autocomplete-on-edit #typeAhead [(ngModel)]="currNode.options.filePattern" [currNode]="currNode"
        class="styled-wrapper" [edit]="edit"></odp-autocomplete-on-edit>
</div>
<div *ngIf="currNode.options.move" class="form-group position-relative">
    <label for="sourceFolderPath" class="font-14 fw-400 text-dark d-flex align-items-center justify-content-between">
        Source Folder Path
    </label>
    <odp-autocomplete-on-edit #typeAhead [(ngModel)]="currNode.options.sourceFolderPath" [currNode]="currNode"
        class="styled-wrapper" [edit]="edit"></odp-autocomplete-on-edit>
</div>
<div *ngIf="currNode.options.move" class="form-group position-relative">
    <label for="targetFolderPath" class="font-14 fw-400 text-dark d-flex align-items-center justify-content-between">
        Target Folder Path
    </label>
    <odp-autocomplete-on-edit #typeAhead [(ngModel)]="currNode.options.targetFolderPath" [currNode]="currNode"
        class="styled-wrapper" [edit]="edit"></odp-autocomplete-on-edit>
</div>
<div class="border rounded p-3 mt-1">
    <div class="border-bottom font-14 fw-500 mb-3 pb-1">Advanced Settings</div>
    <div class="form-group position-relative">
        <label class="font-14 fw-400 text-dark" for="requestTimeout">Timeout (sec)</label>
        <input id="requestTimeout" class="form-control" type="number" [(ngModel)]="currNode.options.timeout" (keydown.delete)="$event.stopPropagation();" [readonly]="!edit.status">
    </div>
    <div class="form-group position-relative">
        <label class="font-14 fw-400 text-dark" for="retryCount">Retry Count</label>
        <input id="retryCount" class="form-control" type="number" [(ngModel)]="currNode.options.retry.count" (keydown.delete)="$event.stopPropagation();" [readonly]="!edit.status">
    </div>
    <div class="form-group position-relative mb-0">
        <label class="font-14 fw-400 text-dark" for="retryInterval">Retry Interval (sec)</label>
        <input id="retryInterval" class="form-control" type="number" [(ngModel)]="currNode.options.retry.interval" (keydown.delete)="$event.stopPropagation();" [readonly]="!edit.status">
    </div>
</div>