<div class="default-loader d-flex justify-content-center w-100 h-100" *ngIf="showLazyLoader">
    <div class="align-self-center text-center">
        <div class="spinner-border text-dark" role="status">
            <span class="sr-only">Processing...</span>
        </div>
        <div class="text-secondary mt-2">Processing...</div>
    </div>
</div>
<div class="data-formula-page d-flex flex-column w-100 page-padding bg-light-gray">
    <div class="options d-flex justify-content-between align-items-center w-100 pt-2 mb-4">
        <div class="fw-600 font-22">Formulas</div>
        <div class="d-flex align-items-center">
            <odp-search-box (enteredText)="searchTerm=$event" (reset)="searchTerm=null"
                [edit]="{status:true}"></odp-search-box>
            <button class="add-new btn btn-primary ml-3 d-flex align-items-center"
                *ngIf="hasManagePermission('FORMULA')" (click)="newFormula()">
                <span class="dsi dsi-plus mr-2"></span>
                <span class="text">New</span>
            </button>
        </div>
    </div>
    <div class="card-container">
        <div class="list-group">
            <div class="list-group-item header py-0 bg-light text-uppercase font-11 fw-500">
                <div class="d-flex align-items-center justify-content-start h-100">
                    <div (click)="applySort('name')" class="item-name">
                        <span class="mr-2">Name</span>
                        <span *ngIf="sortModel['name']==1" class="dsi dsi-drop-down"></span>
                        <span *ngIf="sortModel['name']==-1" class="dsi dsi-drop-up"></span>
                    </div>
                    <div (click)="applySort('forDataType')" class="item-formula-type text-left ml-4">
                        <span class="mr-2">Applicable Type</span>
                        <span *ngIf="sortModel['forDataType']==1" class="dsi dsi-drop-down"></span>
                        <span *ngIf="sortModel['forDataType']==-1" class="dsi dsi-drop-up"></span>
                    </div>
                    <div (click)="applySort('returnType')" class="item-formula-type text-left ml-4">
                        <span class="mr-2">Return Type</span>
                        <span *ngIf="sortModel['returnType']==1" class="dsi dsi-drop-down"></span>
                        <span *ngIf="sortModel['returnType']==-1" class="dsi dsi-drop-up"></span>
                    </div>
                    <div class="item-actions">&nbsp;</div>
                </div>
            </div>
            <div *ngIf="!records || records.length==0" class="list-group-item">No Records Found</div>
            <ng-container *ngFor="let formula of records;let i=index">
                <div *ngIf="hasPermissionForFormula(formula._id)" class="list-group-item">
                    <div class="d-flex align-items-center justify-content-start h-100 hover" [attr.title]="formula.name"
                        (dblclick)="navigate(formula)">
                        <div class="item-name text-dark fw-500">{{formula.name}}</div>
                        <div class="item-formula-type text-left ml-4">
                            <span>{{formula.forDataType}}</span>
                        </div>
                        <div class="item-formula-type text-left ml-4">
                            <span>{{formula.returnType}}</span>
                        </div>
                        <div class="item-actions d-flex align-items-center justify-content-end">
                            <span id="lib-view" class="fw-600 font-13 hover mr-3"
                                [routerLink]="['/app/',app,'formula',formula._id]">View</span>
                            <span id="lib-more" class="dsi dsi-more-vertical hover mr-3 ignore-outside"
                                *ngIf="canEditFormula(formula._id)" (click)="showDropDown($event,i)"></span>
                            <div *ngIf="showOptionsDropdown[i]"
                                class="more-options bg-white rounded list-group position-fixed border"
                                (mouseleave)="showOptionsDropdown[i]=false" [ngStyle]="dropDownStyle" odpClickOutside
                                (outside)="showOptionsDropdown[i]=false">
                                <div id="lib-edit" class="list-group-item list-group-item-action py-2 border-0"
                                    (click)="editFormula(i)">
                                    Edit
                                </div>
                                <div id="lib-clone" class="list-group-item list-group-item-action py-2 border-0"
                                    *ngIf="hasManagePermission('FORMULA')" (click)="cloneFormula(i)">
                                    Clone
                                </div>
                                <div id="lib-delete"
                                    class="list-group-item list-group-item-action py-2 border-0 text-danger"
                                    (click)="deleteFormula(i);">
                                    Delete
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>

<odp-delete-modal [open]="openDeleteModal" (close)="closeDeleteModal($event)"></odp-delete-modal>


<div *ngIf="showNewFormulaWindow" class="overlay position-fixed"></div>
<div [ngClass]="{'show':showNewFormulaWindow}"
    class="new-data-formula-window position-fixed p-4 d-flex flex-column align-items-center bg-white border-left"
    [formGroup]="form">
    <div class="d-flex flex-column w-100">
        <div class="d-flex align-items-center justify-content-between mb-3">
            <span class="font-20 fw-600">{{isClone? 'Clone':'New'}} Formula</span>
            <span class="dsi dsi-close hover" (click)="showNewFormulaWindow=false;isClone=false;"></span>
        </div>
        <ng-container *ngIf="showNewFormulaWindow">
            <div class="form-group">
                <label for="name" class="font-13 text-secondary">
                    <span class="text">Name</span>
                    <sup class="text-danger font-normal" ngbTooltip="Mandatory field">*</sup>
                </label>
                <div class="name-wrapper position-relative">
                    <input newFormulaName autocomplete="off" type="text" class="form-control" id="name"
                        placeholder="Untitled Formula" formControlName="name" odpAutoFocus
                        (keyup.enter)="triggerFormulaCreate()"
                        [ngClass]="{'is-invalid':form.get('name').invalid && form.get('name').dirty}">
                    <ng-container *ngIf="form.get('name').dirty">
                        <span *ngIf="form.get('name').hasError('required')"
                            class="text-danger position-absolute  dsi dsi-danger-circle" container="body"
                            ngbTooltip="Name is required"></span>
                        <span *ngIf="form.get('name').hasError('maxlength')"
                            class="text-danger position-absolute  dsi dsi-danger-circle" container="body"
                            ngbTooltip="Name should be within 40 characters"></span>
                        <span *ngIf="form.get('name').hasError('pattern')"
                            class="text-danger position-absolute  dsi dsi-danger-circle" container="body"
                            ngbTooltip="Name can be only alphanumeric and can only contain spaces"></span>
                    </ng-container>
                </div>
            </div>
            <div class="form-group mt-3">
                <label for="forDataType" class="font-13 text-secondary">
                    <span class="text">Applicable Type</span>
                    <sup class="text-danger font-normal" ngbTooltip="Mandatory field">*</sup>
                </label>
                <div class="d-flex flex-wrap">
                    <select class="custom-select" name="forDataType" id="forDataType" formControlName="forDataType">
                        <option value="String">String</option>
                        <option value="Number">Number</option>
                        <option value="Boolean">Boolean</option>
                        <option value="Date">Date</option>
                        <option value="Object">Object</option>
                        <option value="Array">Array</option>
                    </select>
                </div>
            </div>
            <div class="form-group mt-3">
                <label for="returnType" class="font-13 text-secondary">
                    <span class="text">Return Type</span>
                    <sup class="text-danger font-normal" ngbTooltip="Mandatory field">*</sup>
                </label>
                <div class="d-flex flex-wrap">
                    <select class="custom-select" name="returnType" id="returnType" formControlName="returnType">
                        <option value="String">String</option>
                        <option value="Number">Number</option>
                        <option value="Boolean">Boolean</option>
                        <option value="Date">Date</option>
                        <option value="Object">Object</option>
                        <option value="Array">Array</option>
                    </select>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="d-flex align-self-end justify-content-end w-100 mt-auto">
        <button type="button" class="btn btn-primary w-100" id="newFormulaModalYes" [disabled]="form.invalid"
            (click)="isClone? triggerFormulaClone():triggerFormulaCreate()">Create</button>
    </div>
</div>